/***** BASE STYLES *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

#about, #work, #contact {
    height: 600px;    
}

/*****GRID*****/

.full-width {
    width: 1200px;
    margin: 0px auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/*****HEADER*****/

header {
    height: 800px;
    background: url(../img/hero.png);
    background-size: cover;
}

/*Jubille Austen (title)*/
header h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #bbc085;
    padding: 65px 0 65px 25px;
}

/*Navigation bar:contains list with: -ABOUT -WORK -CONTACT*/
nav {
    float: right;
    padding: 75px 25px;
}

/*puts list items side a side*/
nav ul li {
    display: inline-block;
}

/*styles list items*/
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 80px;
}

/*Hi, I'm a dev.. - giant subtitle*/
header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
}

/*styles the 'Hi' in giant subtitle*/
header h2 span {
    color: #2b2b2b
}

/*****ABOUT*****/

#about .full-width {
    padding: 80px 0;
}

/*A little bit..*/
#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
}

/*styles both colums of text*/
#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

/*****WORK*****/

#work {
    background: #f9ceb7;
    text-align: center;
}

#work .full-width {
    padding: 115px 0;
}

/*for all three work icons: html, css, pencil*/
#work img {
    padding-bottom: 30px;
}

/*for all three work titles bellow each icon*/
#work h3 {
    font-size: 24px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
}

/*for all three work text colums*/
#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

/*****CONTACT*****/

#contact {
    background: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}

/*styles bigger image in contact*/
#contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
}

/*styles padding for all second half-width div except for the two h3 and the two email links*/
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}

/*styles envelope icon*/
#contact #envelope {
    padding: 0 10px 0 115px;
}

/*Like what you see?*/
#contact h2 {
    font-family: 'lora', serif;
    font-size: 36px;
    line-height: 44px;
}

/*Let's meet...*/
#contact #email-header {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
}

/*Or, find...*/
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}

/*for the email addres*/
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}

/*for the whole list of social media icons*/
#contact ul {
    list-style: none;
}

/*for all icons to appear side-by-side*/
#contact ul li {
    display: inline-block;
}

/*for all five social media icons images*/
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}