/***** BASE STYLES *****/
html {
  font-size: 18px;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
}
body {
  margin: 0px auto;
  width: 100%;
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 100vw;
  min-width: 100%;
  padding: 0px;
  color: #2b2b2b;
}
h1,
h2,
h3,
h4,
p,
div {
  margin: 0;
  text-align: center;
  padding: 0;
}
a {
  margin: 0;
  outline: none;
  text-decoration: none;
  border: none;
  color: #2b2b2b;
  padding: 0;
}
figure,
ul {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#about,
#work,
#contact {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  margin: 0;
}

figure {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e2e3ed;
}

/*****GRID*****/
header,
section,
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.full-width {
  width: 85%;
  max-width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.half-width {
  width: 100%;
}
.third-width {
  width: 33%;
}

/*****HEADER*****/
header {
  height: 100vh;
  background: url(../img/hero.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-container {
  width: 100%;
  display: flex;
  flex-flow: column;
}
#first-row {
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
/*nav*/
#nav-div {
  margin: 0.9rem 0 0 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem;
  color: #828282;
  margin: 0.9rem;
}
/*Jubille Austen (title)*/
header h1 {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  color: #bbc085;
  margin: 2rem 0 0 1rem;
  text-align: left;
}
/*Hi, I'm a dev.. - subtitle*/
header h2 {
  width: 80%;
  font-family: 'Lora', serif;
  font-size: 1.7rem;
  line-height: 2.1rem;
  color: #9b9b9b;
  margin: 0 0 1rem 1rem;
  text-align: left;
}
header h2 span {
  color: #2b2b2b;
}

/*****ABOUT*****/
#about .full-width {
  margin: 4.5rem auto;
}
/*A little bit..*/
#about h2 {
  width: 100%;
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  text-align: left;
  margin: 0.5rem 0 0.5rem 1.5rem;
}
/*styles both colums of text*/
#about p {
  font-size: 1.1rem;
  color: #7f7f7f;
  line-height: 1.8rem;
  margin: 0 1.5rem;
  text-align: left;
}

/*****WORK*****/
#work {
  background: #f9ceb7;
  text-align: center;
}
#work .full-width {
  margin: 6rem auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#work .third-width {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto;
  max-width: 350px;
}
/*for all three work icons: html, css, pencil*/
#work figure {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.4rem auto;
}
/*for all three work titles bellow each icon*/
#work h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0px auto;
  max-width: 400px;
}
/*for all three work text colums*/
#work p {
  font-family: 'Lora', serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1rem auto;
}

/*****CONTACT*****/
#contact {
  background: #ebebeb;
}
#contact .full-width {
  margin: 110px auto;
}
#contact .half-width {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
/*styles bigger image in contact*/
#contact #photo-fig {
  max-width: 800px;
}
#contact #photo-img {
  border: 12px solid #ffffff;
  box-sizing: border-box;
}
/* styles margin for all second half-width div except for the two h3 and the two email links
#contact h2,
#contact #socialmedia-header {
  margin-left: 115px;
} */
/*styles envelope icon*/
#contact h2 {
  font-family: 'lora', serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}
#contact #email-header {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}
#contact #envelope-fig {
  width: 2rem;
  margin: 0.5rem;
}
#contact a {
  text-decoration: none;
  color: #c49075;
  font-weight: bold;
  font-size: 1.1rem;
}
#contact #socialmedia-header {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin: 1rem auto;
}
#contact ul {
  list-style: none;
}
/*for all icons to appear side-by-side*/
#contact ul li {
  display: inline-block;
  width: 2rem;
  margin: 0.2rem;
}
#contact ul li#item-tumblr-icon {
  width: 1.1rem;
}
/*for all five social media icons images*/
#contact ul img {
  font-size: 1.5rem;
}

/*MEDIA QUERYS*/

@media (max-width: 280px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
  .half-width {
    width: 50%;
  }
  header .full-width {
    width: 100%;
    max-width: 90vw;
  }
  .header-content {
    display: flex;
    flex-flow: column;
  }
  #first-row {
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
  }
  #nav-div {
    margin: 2.5rem 2.5rem 0 0;
    text-align: right;
  }
  nav ul li a {
    font-size: 1.2rem;
    margin: 1.1rem;
  }
  /*Jubille Austen (title)*/
  header h1 {
    font-size: 1.6rem;
    margin: 2.5rem 0 0 2.5rem;
  }
  header h2 {
    width: 50%;
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 5rem 0 1rem 2.5rem;
  }
  #work .full-width {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  #work .third-width {
    margin: 1rem 1.5rem;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 22px;
  }
  .full-width {
    max-width: 1500px;
  }
}
